body,html               /*  to remove the Spaces between tags and the Border of Browser Window*/
{
    margin:0 0 0 0;
    padding:0 0 0 0;
    border:none;
}
html
{
    color: #ff00ff;
    background-color: #000000;
    border:none;
}