@media screen and (min-width: 800px) and (max-width: 1600px)
{
    #wh
    {
        background-color: #000000;
    }
    h1
    {
        opacity: 0%;
        position: absolute;
        width: 1530px;
        border-radius: 20px;
        float:inline-end;
        font-family: "Helvetica";
        background:#0f2f2f;
        font-weight: 1;
        color: #00ffff;
        font-size:xx-large;
        text-align: center;
        margin:0px 0px 0px 0px; 
        padding: 4px 0px 4px 0px;
        border: 0px;
        size: 600px;
        left:0px;
        top:35px;
        right:20px;
    }
    #frm_bg
    {
        z-index: 0;
        position: absolute;
        border-radius:20px;
        top:100px;
        left:150px;
        background-color: #272727;
        height:500px;
        width:800px;
    }
    #prf_bg
    {
        z-index: 0;
        position: absolute;
        border-radius:20px;
        top:100px;
        left:1100px;
        background-color: #272727;
        height:500px;
        width:350px;
    }
    #id_file
    {
        width: 250px;
        border-radius: 20px;
        position:absolute;
        left:30px;
        top:400px;
        background-color: #222222;
        color: #00ffff;
        padding: 10px 20px 10px 20px;
        text-align: center;
    }
    #prf_bg_frm
    {
        z-index: 0;
        position: absolute;
        border-radius:4px;
        top:30px;
        left:40px;
        background-color: #00002f;
        height:300px;
        width:270px;
    }
    #prf_bg_frm:hover
    {
        background-color: #11111f;
    }
    #prf_bg_frm_t
    {
        font-family: Arial, Helvetica, sans-serif;
        z-index:2;
        position:absolute;
        top:160px;
        left:100px;
        color:#55ffff;
        background-color: #00002f;
    }
    .frml
    {
        z-index: 1;
        color: #55ffff;
        left:200px;
        position: absolute;
        font-family: Helvetica;
        font-size: x-large;
        opacity: 0%;
    }
    .frmi
    {
        z-index: 1;
        text-align: center;
        border-radius: 30px;
        width: 400px;
        height : 40px;
        color: #00ffff;
        background-color: #002f2f;
        outline: none;
        border: none;
        left:500px;
        position: absolute;
        font-family: Helvetica;
        font-size: x-large;
        opacity: 0%;
    }
    .frmi:hover
    {
        color: #000000;
        background-color: #ffffff;
    }
    .frmi:focus
    {
        size: 200px;
        border-color: #00ffff;
        color: #000000;
        background-color: #ffffff;
    }
    .frmi:-webkit-autofill
    {   
        /*-webkit-box-shadow: 0 0 1000px 1500px #002f2f  inset;*/
        -webkit-background-color: #00008f;
        -webkit-text-fill-color: #00ffff;
    }
    #sub1
    {
        border-radius: 20px;
        border-style:hidden;
        position: relative;
        left:500px;
        top: 500px;
        background-color: #222222;
        font-family: "Helvetica";
        font-style: oblique;
        font-size: x-large;
        color: #00ffff;
        padding-left: 140px;
        padding-right: 140px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #sub1:hover
    {
        border-style: groove;
        border-color: #00ffff;
    }
    #sub1:active
    {
        border-style: groove;
        color: #ffffff;
        border-color: #ffffff;
        background-color: #333333;
    }
    #msg
    {
        border-radius:30px;
        background-color:#1f1f1f;
        position:absolute;
        padding: 10px 10px 10px 30px;
        top:800px;
        left:300px;
        color:#00ffff;
        font-family:'Times New Roman', Times, serif;
        font-size:20px
    }
}