<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
    <!-- Session timeout settings -->
    <session-config>
        <session-timeout>10</session-timeout> <!-- 30 minutes -->
    </session-config>

    <servlet>
        <servlet-name>Sample_Servlet</servlet-name>	
        <display-name>Welcome_Page</display-name>
        <servlet-class>WebApp.Sample_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fpl</servlet-name>
        <display-name>fp</display-name>
        <servlet-class>WebApp.File_Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile_Image_Upload</servlet-name>
        <display-name>prfl</display-name>
        <servlet-class>WebApp.PrfImg_Upl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Database_Access</servlet-name>
        <display-name>DB</display-name>
        <servlet-class>DB.DataBase_Access</servlet-class>
    </servlet>

    <servlet-mapping>
	    <servlet-name>Sample_Servlet</servlet-name>
	    <url-pattern>/Sample_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fpl</servlet-name>
        <url-pattern>/FUPL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile_Image_Upload</servlet-name>
        <url-pattern>/PRFLUPL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Database_Access</servlet-name>
        <url-pattern>/DB</url-pattern>
    </servlet-mapping>

</web-app>